html {
    background-color: #fffcf5

}

.borough-filter h3:hover{
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    
}

.borough-filter h3{
    text-transform: uppercase;
    line-height: 10px;
    width: 200px;
    text-decoration: underline;
}


.borough-filter, .park-data{
    font-size: 24px;
}
.table-body, .data-table h2{
    display: flex;
    justify-content: space-between;
    /* max-width: calc(100% - 400px); */
    width: 100%;
    margin: 0 auto;
    /* margin-top: 55px; */
    
}
.top-row{
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 400px);
    width: 100%;
    margin: 0 auto;

}
.key img{
    height: 40px;
    width: auto;
    border-radius: 0;
}

.key {
    display: flex;
    width: 220px;
    justify-content: space-between;
    /* margin: 0 auto; */
    max-width: calc(100% - 400px);
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;

}

.key-item p{
    text-align: center;
    font-size: 17px;
    text-transform: lowercase;
    font-style: italic;
    margin-bottom: 0;
}

.table-body{
    max-width: calc(100% - 400px);
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.data-table h2{
    text-align: left;
    padding-bottom: 30px;
    /* margin: 0 auto;
    width: fit-content; */
    
}

.data-table {
    padding-bottom: 50px;
}

.data-visualization-item img{
    border-radius: 0;
    /* opacity: 0; */
    position: absolute;
    /* width: 100%; */
    max-width: 400px;
    height: auto;
    max-height: 400px;
    transform: translateX(-200px)
}




.specific-data-wrapper {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.specific-data-item {
    display: block;
    
}

.specific-data-item p{
    /* font-size: 18px; */
    margin: 0;
    text-align: right;
    margin-bottom: 20px;
}

.specific-data-item span{

    color: #006600;
    font-weight: 700;
}



.title-page, .table-header{
    width: 100%;
    /* max-width: 1000px; */
    max-width: calc(100% - 200px);
    margin: 0 auto;
    text-align: center;
    
}
.table-header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-page{
    padding-top: 20px;
    padding-bottom: 50px;
}

.data-table .title-page{
    padding-top: 50px;
}

.body-text{
    margin-top: 25px;
    max-width: calc(100% - 400px);
    margin: 25px auto 0 auto;
    padding-bottom: 50px;
}

p{
    max-width: 600px;
    font-family: "miller-text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h1{
    font-size: 110px;
    margin: 0;
    font-family: "dynapuff-variable", sans-serif;
    font-variation-settings: "wdth" 100, "wght" 400;
    padding-bottom: 20px;
    
}

h2{
    font-size: 45px;
    margin: 0 0 15px 0;
    font-family: "miller-text", serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    line-height: 50px;
}

h3 {
    font-size: 18px;
    font-family: "miller-text", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

img{
    max-height: 300px;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}



.gallery-item img {
    height: 350px;
}


.scroll-section{
    margin-top: 25px;
    padding-bottom: 50px;

}
.scroll-wrapper{
    overflow-x: scroll;
}
.scroll-inner-wrapper{
    display: flex;
    padding-bottom: 25px;
}
.gallery-item{
    min-width: 500px;
    margin: 0 25px;
}
.gallery-item > h3{
    text-align: center;
}
